body {
    background-color: rgb(220, 225, 225);
}
h5 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.arvore {
    position: fixed;
    margin-left: 70%;
}

.texto {
    margin-top: 110px;
}

footer {
    position: absolute;
    background:  rgba(153, 196, 68, 100%);
}


.container-fluid {
    height: 100px;
}

table {
    border-collapse: collapse;
    width: 80%; /* Defina a largura desejada */
    margin: 0 auto; /* Centraliza a tabela na página */
    padding: 20px; /* Reduz o espaço ao redor das células */
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color:rgba(153, 196, 68, 100%);
}

tbody{
    background-color: white;
}
thead {
    color: white; /* Cor do texto na thead */
}

button{
    height: 25px;
    width: 25px;
}

/*TELA DE LOGIN */
body {
    font-family: 'Poppins', sans-serif;
    
}


.card-header{
    background-color:  rgba(153, 196, 68, 100%);
    color: white;
}

.inicial{
    width: 100%;
    display: flex;
    justify-content: center;
}

#botaoLogin{
    background-color: rgba(153, 196, 68, 100%);
    width: 100px;
    color: white;   
};

h4{

    justify-content: center;
}

td button{
    width: 30%;
    height: 30%;
}

footer{
    margin-top: 100px;
}

#botaoSalvar{
    background-color: rgba(153, 196, 68, 100%);
    color: white   ;
}

